<h1>Create Post</h1>

<form asp-action="Create">
    
    <select class="form-outline custom-select form-white mb-4" aria-label="Default select example" name="name">
        <option selected value="">Job type</option>
        <option value="prepodavatel">prepodavatel</option>
        <option value="It">It</option>
        <option value="General">General worker</option>
        <option value="General">Enjeneer</option>
        <option value="General">Architect</option>
        <option value="General">Prodavach</option>
    </select>

    <div class="form-group">
        <label>Descripyion</label>
        <input type="text" class="form-control" placeholder="Enter Content" name="content">
    </div>
    <div class="form-group">
        <label>Available Spaces</label>
        <input type="number" class="form-control" placeholder="Enter Spaces" name="Spaces">
    </div>

    <button type="submit" class="btn btn-primary">Create</button>

    <a asp-action="Index">
        <button type="button" class="btn btn-secondary">Cancel</button>
    </a>

</form>